<div id="watCard">
	<div id="watCard-header">
		<div><span>WAT</span>CARD</div>
	</div>
	
	<div id="watCard-edge">
		<div>STUDENT</div>
	</div>
	
	<div id="watCard-container">

		<div id="watCard-photo"></div>

		<div id="watCard-main">
			<div class="line"><%= familyName %></div>
			<div class="line"><%= givenName + " ." %></div>
			<div class="line"><%= "ID "+ studentID + faculty %></div>
			<div class="line"><%= status %></div>
			<div class="line"><%= "Exp JUNE " + expirationYear %></div>
		</div>
		<div id="logo" class="line"></div>
		<div id="barCodeImage" class="line"></div>
	</div>
	
	
</div>

<!-- <div id="download">Download</div> -->
<div id="reset"></div>